<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Bienvenido</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleSearchBar()">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="openClassesModal()">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar *ngIf="showSearchBar" color="light">
    <ion-searchbar [(ngModel)]="searchQuery" placeholder="Buscar..."></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="floating-container">
    
    <div class="floating-card">
      <div class="card-header"></div>
      <div class="img"></div>
      <span>Información del Dispositivo</span>
      <p class="job">Nivel de batería: {{ batteryLevel }}%</p>
    </div>

    <div class="floating-card">
      <div class="card-header"></div>
      <div class="img"></div>
      <span>Información del Clima</span>
      <p class="job">Temperatura: {{ weatherInfo.temperature }}°C</p>
      <p class="job">Descripción: {{ weatherInfo.description }}</p>
    </div>
  </div>

  <!-- Nueva sección para asignaturas -->
  <div class="assignment-container">
    <div class="assignment-card" *ngFor="let asignatura of asignaturas">
      <h3>{{ asignatura.nombre }}</h3>
      <button (click)="startScan(asignatura.nombre)">
        Escanear QR
      </button>
    </div>
  </div>
</ion-content>
