.register-container {


  padding: 20px;
  background-color: rgb(from #5a7c99 r g b);
  

  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin: auto; 
  height: calc(50vh - 50px); 
  position: relative; 
}

ion-content {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 

}

